<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Week7 file</title>
    </head>
    <body>
        <h2>yes, already week7</h2>
        <ul>
            <li>
                <a href="random-pumpkin-drink"
                    >Get a random pumkin drink json</a
                >
            </li>
            <li><a href="pumpkin">Got pumpkin?</a></li>
        </ul>
    </body>
</html>
